Repository poseylabs/posey: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-common-change-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-vector-db-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

Path conditions:
  run-auth-workflow: (any of: services/auth/.*) or (any of: .circleci/service-auth-config.yml)
  run-cron-workflow: (any of: services/cron/.*) or (any of: .circleci/service-cron-config.yml)
  run-voyager-workflow: (any of: services/voyager/.*) or (any of: .circleci/service-voyager-config.yml)
  run-mcp-workflow: (any of: services/mcp/.*) or (any of: .circleci/service-mcp-config.yml)
  run-supertokens-workflow: (any of: services/supertokens/.*) or (any of: .circleci/service-supertokens-config.yml)
  run-agents-workflow: (any of: services/agents/.*) or (any of: .circleci/service-agents-config.yml)
  run-vector-db-workflow: (any of: data/vector.db/.*) or (any of: .circleci/data-vector-db-config.yml)
  run-postgres-workflow: ((any of: data/postgres/.*) or (any of: .circleci/data-postgres-config.yml)) or ((any of: services/data/postgres/.*) or (any of: .circleci/orbs/data-postgres-orb.yml))
  run-couchbase-workflow: ((any of: data/couchbase/.*) or (any of: .circleci/data-couchbase-config.yml)) or ((any of: services/data/couchbase/.*) or (any of: .circleci/orbs/data-couchbase-orb.yml))
  run-qdrant-workflow: (any of: services/data/qdrant/.*) or (any of: .circleci/orbs/data-qdrant-orb.yml)
  run-common-change-workflow: any of: .circleci/orbs/common-orb.yml
  run-service-supertokens-orb-workflow: any of: .circleci/orbs/service-supertokens-orb.yml
  run-service-mcp-orb-workflow: any of: .circleci/orbs/service-mcp-orb.yml
  run-service-agents-orb-workflow: any of: .circleci/orbs/service-agents-orb.yml
  run-service-cron-orb-workflow: any of: .circleci/orbs/service-cron-orb.yml
  run-common-orb-workflow: any of: .circleci/orbs/common-orb.yml
  run-data-postgres-orb-workflow: any of: .circleci/orbs/data-postgres-orb.yml
  run-service-voyager-orb-workflow: any of: .circleci/orbs/service-voyager-orb.yml
  run-data-vector-db-orb-workflow: any of: .circleci/orbs/data-vector-db-orb.yml
  run-data-couchbase-orb-workflow: any of: .circleci/orbs/data-couchbase-orb.yml
  run-service-auth-orb-workflow: any of: .circleci/orbs/service-auth-orb.yml

update deploy...
  services/core/auth/Dockerfile
Due: none

update deploy...
  services/core/auth/Dockerfile
  services/core/auth/scripts/start.sh
Due: none

update orbs
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update orbs
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  services/core/auth/.dockerignore
  services/core/auth/Dockerfile
  services/core/auth/package.json
  services/core/auth/scripts/build-local-docker.sh
  services/core/auth/scripts/start.sh
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update orbs
  services/core/auth/Dockerfile
Due: none

update orbs
  k8s/posey-auth-local-debug.yaml
Due: none

update secrets
  k8s/secrets/env/posey-prod-apps-www-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-core-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-data-env-vars-sealed.yaml
Due: none

update secrets
  services/core/auth/scripts/run-migrations.sh
Due: none

update secrets
  k8s/secrets/env/posey-prod-apps-www-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-core-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-data-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-services-env-vars-sealed.yaml
  lib/scripts/sync-secrets-argo.sh
  lib/scripts/sync-secrets-circleci.sh
Due: none

update secrets
  k8s/secrets/env/posey-prod-apps-www-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-core-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-data-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-services-env-vars-sealed.yaml
  lib/scripts/secrets/create-data-secrets.sh
Due: none

update secrets
  k8s/charts/services/core/auth/values.yaml
  k8s/charts/services/core/mcp/values.yaml
Due: none

update secrets
  k8s/charts/services/core/auth/templates/deployment.yaml
  k8s/charts/services/core/auth/values.yaml
  k8s/charts/services/core/mcp/values.yaml
  k8s/charts/services/core/supertokens/values.yaml
Due: none

update secrets
  k8s/secrets/env/posey-prod-apps-www-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-core-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-data-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-services-env-vars-sealed.yaml
Due: none

update secrets
  k8s/charts/services/core/auth/values.yaml
Due: none

update secrets
  .circleci/config.yml
  .circleci/continue_config.yml
  .cursorrules
  DEVELOPMENT.md
  GITOPS.md
  k8s/argo/services/core/cron-application.yaml
  k8s/charts/services/core/cron/Chart.yaml
  k8s/charts/services/core/cron/templates/NOTES.txt
  k8s/charts/services/core/cron/templates/_helpers.tpl
  k8s/charts/services/core/cron/templates/deployment.yaml
  k8s/charts/services/core/cron/templates/service.yaml
  k8s/charts/services/core/cron/values.yaml
  k8s/posey-auth-local-debug.yaml
Due: none

update secrets
  services/core/cron/package.json
Due: none

update secrets
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update secrets
  .circleci/continue_config.yml
Due: none

deploy cron
  package.json
  services/core/cron/Dockerfile
  services/core/cron/package.json
Due: none

deploy cron
  package.json
Due: none

deploy cron
  services/core/cron/package.json
Due: none

deploy package names
  .circleci/orbs/service-cron-orb.yml
  k8s/charts/services/core/cron/values.yaml
  services/core/agents/Dockerfile
  services/core/agents/package.json
  services/core/agents/scripts/build-ml-base.sh
  services/core/auth/package.json
  services/core/cron/package.json
  services/core/mcp/package.json
  services/core/scripts/build.ts
  services/core/supertokens/package.json
  services/core/voyager/package.json
  services/data/couchbase/package.json
  services/data/postgres/package.json
  services/data/qdrant/package.json
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-cron-orb-workflow

deploy package names
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

deploy package names
  services/core/cron/package.json
Due: none

deploy package names
  .circleci/orbs/service-cron-orb.yml
Due: run-service-cron-orb-workflow

deploy cron
  k8s/charts/services/core/auth/values.yaml
  k8s/charts/services/core/cron/values.yaml
Due: none

deploy cron
  k8s/argo/services/core/cron-application.yaml
Due: none

deploy cron
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  apps/inventory/tsconfig.json
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

deploy cron
  k8s/charts/services/core/cron/templates/deployment.yaml
Due: none
