Repository poseylabs/posey: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-common-change-workflow, run-common-orb-publish, run-docker-orb-publish, run-core-service-orb-publish, run-core-service-workflow, run-voyager-service-orb-publish, run-voyager-service-workflow, run-data-service-orb-publish, run-data-service-workflow, run-frontend-app-orb-publish, run-frontend-app-workflow, run-ui-pkg-orb-publish, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-vector-db-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

deploy cron
  k8s/charts/base-values.yaml
  k8s/charts/services/core/mcp/values.yaml
  k8s/charts/services/core/supertokens/values.yaml
  k8s/charts/services/core/voyager/values.yaml
  k8s/charts/services/data/couchbase/values.yaml
Due: run-voyager-service-workflow, run-data-service-workflow

deploy cron
  k8s/charts/services/data/postgres/values.yaml
Due: run-data-service-workflow

deploy cron
  k8s/charts/services/core/auth/values.yaml
Due: none

deploy cron
  k8s/charts/services/core/auth/templates/deployment.yaml
Due: none

deploy cron
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  k8s/argo/services/core/posey-agents-application.yaml
  k8s/charts/services/core/agents/Chart.yaml
  k8s/charts/services/core/agents/charts/common-helpers-0.1.1.tgz
  k8s/charts/services/core/agents/templates/_helpers.tpl
  k8s/charts/services/core/agents/templates/ingress.yaml
  k8s/charts/services/core/agents/templates/service.yaml
  k8s/charts/services/core/agents/templates/serviceaccount.yaml
  k8s/charts/services/core/agents/templates/statefulset.yaml
  k8s/charts/services/core/agents/values.yaml
  services/core/agents/package.json
Due: run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-voyager-service-orb-publish, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-couchbase-orb-workflow

deploy agents
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/ml-base-orb.yml
Due: none

deploy agents
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/ml-base-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  .circleci/scripts/publish-orbs-local.sh
Due: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-voyager-service-orb-publish, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

deploy agents
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/ml-base-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
Due: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-voyager-service-orb-publish, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

deploy agents
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/ml-base-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  .circleci/scripts/publish-orbs-local.sh
  services/core/agents/Dockerfile
  services/core/agents/scripts/build-ml-base.sh
Due: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-voyager-service-orb-publish, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

deploy agents
  .circleci/continue_config.yml
Due: none

deploy agents
  services/core/agents/package.json
Due: none

deploy agents
  .circleci/orbs/common-orb.yml
Due: run-common-change-workflow, run-common-orb-workflow

deploy agents
  k8s/charts/services/core/agents/templates/serviceaccount.yaml
  k8s/charts/services/core/agents/values.yaml
Due: none

deploy agents
  k8s/charts/services/core/agents/templates/statefulset.yaml
  services/core/agents/app/main.py
Due: none

deploy agents
  services/core/agents/app/routers/health.py
Due: none

deploy agents
  services/core/agents/app/main.py
  services/core/agents/app/routers/health.py
Due: none

fix yarn build errors in ci
  services/core/auth/Dockerfile
Due: run-auth-workflow

fix yarn build errors in ci
  services/core/auth/Dockerfile
  services/core/cron/Dockerfile
Due: run-auth-workflow, run-cron-workflow

fix qdrant build errors in ci
  k8s/argo/services/data/posey-qdrant-application.yaml
Due: none

fix build errors in ci
  services/core/cron/package.json
  services/data/qdrant/package.json
Due: run-cron-workflow, run-qdrant-workflow

update agents...
  services/core/agents/docker/ml-base/Dockerfile
Due: none

update agents...
  services/core/agents/Dockerfile
  services/core/agents/alembic/__pycache__/env.cpython-310.pyc
  services/core/agents/alembic/env.py
  services/core/agents/alembic/versions/11688379fbcd_auto_generated_migration.py
  services/core/agents/alembic/versions/__pycache__/11688379fbcd_auto_generated_migration.cpython-310.pyc
  services/core/agents/alembic/versions/__pycache__/ecd92f3ec52a_your_detailed_migration_message_here.cpython-310.pyc
  services/core/agents/alembic/versions/ecd92f3ec52a_your_detailed_migration_message_here.py
  services/core/agents/app/config/__pycache__/settings.cpython-310.pyc
  services/core/agents/app/config/settings.py
  services/core/agents/app/db/models/__pycache__/agent.cpython-310.pyc
  services/core/agents/app/db/models/__pycache__/llm_model.cpython-310.pyc
  services/core/agents/app/db/models/__pycache__/project.cpython-310.pyc
  services/core/agents/app/db/models/agent.py
  services/core/agents/app/db/models/llm_model.py
  services/core/agents/app/db/models/project.py
  services/core/agents/app/main.py
  services/core/agents/app/middleware/auth.py
  services/core/agents/docker/ml-base/Dockerfile
  services/core/agents/docker/ml-base/ml-requirements.txt
  services/core/agents/package.json
  services/core/agents/requirements.txt
  services/core/agents/scripts/entrypoint.sh
  services/core/agents/scripts/generate-migration.sh
Due: none

Path conditions:
  run-auth-workflow: ((any of: services/auth/.*) or (any of: .circleci/service-auth-config.yml)) or ((any of: services/core/auth/.*) or (any of: .circleci/orbs/service-auth-orb.yml))
  run-cron-workflow: ((any of: services/cron/.*) or (any of: .circleci/service-cron-config.yml)) or ((any of: services/core/cron/.*) or (any of: .circleci/orbs/service-cron-orb.yml))
  run-voyager-workflow: ((any of: services/voyager/.*) or (any of: .circleci/service-voyager-config.yml)) or ((any of: services/core/voyager/.*) or (any of: .circleci/orbs/service-voyager-orb.yml))
  run-mcp-workflow: ((any of: services/mcp/.*) or (any of: .circleci/service-mcp-config.yml)) or ((any of: services/core/mcp/.*) or (any of: .circleci/orbs/service-mcp-orb.yml))
  run-supertokens-workflow: ((any of: services/supertokens/.*) or (any of: .circleci/service-supertokens-config.yml)) or ((any of: services/core/supertokens/.*) or (any of: .circleci/orbs/service-supertokens-orb.yml))
  run-agents-workflow: (any of: services/agents/.*) or (any of: .circleci/service-agents-config.yml)
  run-vector-db-workflow: (any of: data/vector.db/.*) or (any of: .circleci/data-vector-db-config.yml)
  run-postgres-workflow: ((any of: data/postgres/.*) or (any of: .circleci/data-postgres-config.yml)) or ((any of: services/data/postgres/.*) or (any of: .circleci/orbs/data-postgres-orb.yml))
  run-couchbase-workflow: ((any of: data/couchbase/.*) or (any of: .circleci/data-couchbase-config.yml)) or ((any of: services/data/couchbase/.*) or (any of: .circleci/orbs/data-couchbase-orb.yml))
  run-qdrant-workflow: (any of: services/data/qdrant/.*) or (any of: .circleci/orbs/data-qdrant-orb.yml)
  run-common-change-workflow: any of: .circleci/orbs/common-orb.yml
  run-common-orb-publish: any of: \.circleci/orbs/common/.*
  run-docker-orb-publish: any of: \.circleci/orbs/docker/.*
  run-core-service-orb-publish: any of: \.circleci/orbs/service-core-orb.yml
  run-core-service-workflow: (((any of: services/core/src/.*) or (any of: services/core/Dockerfile)) or (any of: services/core/requirements.txt)) or (any of: k8s/charts/services/core/core/.*)
  run-voyager-service-orb-publish: any of: \.circleci/orbs/service-voyager-orb.yml
  run-voyager-service-workflow: ((((any of: services/core/voyager/src/.*) or (any of: services/core/voyager/Dockerfile)) or (any of: services/core/voyager/requirements.txt)) or (any of: k8s/charts/services/core/voyager/.*)) or (any of: k8s/argo/services/core/posey-voyager-application.yaml)
  run-data-service-orb-publish: any of: \.circleci/orbs/service-data-orb.yml
  run-data-service-workflow: (((any of: services/data/src/.*) or (any of: services/data/Dockerfile)) or (any of: services/data/requirements.txt)) or (any of: k8s/charts/services/data/.*)
  run-frontend-app-orb-publish: any of: \.circleci/orbs/app-frontend-orb.yml
  run-frontend-app-workflow: (any of: apps/frontend/.*) or (any of: k8s/charts/apps/frontend/.*)
  run-ui-pkg-orb-publish: any of: \.circleci/orbs/pkg-ui-orb.yml
  run-service-supertokens-orb-workflow: any of: .circleci/orbs/service-supertokens-orb.yml
  run-service-mcp-orb-workflow: any of: .circleci/orbs/service-mcp-orb.yml
  run-service-agents-orb-workflow: any of: .circleci/orbs/service-agents-orb.yml
  run-service-cron-orb-workflow: any of: .circleci/orbs/service-cron-orb.yml
  run-common-orb-workflow: any of: .circleci/orbs/common-orb.yml
  run-data-postgres-orb-workflow: any of: .circleci/orbs/data-postgres-orb.yml
  run-service-voyager-orb-workflow: any of: .circleci/orbs/service-voyager-orb.yml
  run-data-vector-db-orb-workflow: any of: .circleci/orbs/data-vector-db-orb.yml
  run-data-couchbase-orb-workflow: any of: .circleci/orbs/data-couchbase-orb.yml
  run-service-auth-orb-workflow: any of: .circleci/orbs/service-auth-orb.yml
