Repository poseylabs/posey: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-common-change-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-vector-db-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  k8s/charts/services/data/postgres/charts/common-helpers-0.1.1.tgz
Due: none

update deploy...
  k8s/charts/services/data/postgres/templates/statefulset.yaml
  services/core/mcp/package.json
Due: none

update deploy...
  .circleci/continue_config.yml
Due: none

update deploy...
  .circleci/continue_config.yml
  services/core/mcp/package.json
Due: none

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/core-mcp-orb.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  services/core/mcp/package.json
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow

update deploy...
  .circleci/config.yml
  services/core/mcp/package.json
Due: none

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/core-mcp-orb.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/scripts/publish-orbs-local.sh
  services/core/mcp/package.json
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow

update deploy...
  .circleci/orbs/service-mcp-orb.yml
  services/core/mcp/package.json
Due: run-service-mcp-orb-workflow

update deploy...
  services/core/mcp/package.json
Due: none

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/common-orb.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-mcp-orb.yml
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-common-change-workflow, run-service-mcp-orb-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  k8s/charts/services/core/mcp/values.yaml
  k8s/charts/services/data/qdrant/values.yaml
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-mcp-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow

update core services...
  .circleci/continue_config.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  k8s/argo/services/core/posey-auth-application.yaml
  k8s/argo/services/core/posey-supertokens-application.yaml
  k8s/charts/services/core/auth/Chart.lock
  k8s/charts/services/core/auth/Chart.yaml
  k8s/charts/services/core/auth/templates/_helpers.tpl
  k8s/charts/services/core/auth/templates/deployment.yaml
  k8s/charts/services/core/auth/templates/ingress.yaml
  k8s/charts/services/core/auth/templates/pvc.yaml
  k8s/charts/services/core/auth/templates/service.yaml
  k8s/charts/services/core/auth/templates/serviceaccount.yaml
  k8s/charts/services/core/auth/values.yaml
  k8s/charts/services/core/supertokens/Chart.lock
  k8s/charts/services/core/supertokens/Chart.yaml
  k8s/charts/services/core/supertokens/templates/_helpers.tpl
  k8s/charts/services/core/supertokens/templates/deployment.yaml
  k8s/charts/services/core/supertokens/templates/ingress.yaml
  k8s/charts/services/core/supertokens/templates/pvc.yaml
  k8s/charts/services/core/supertokens/templates/service.yaml
  k8s/charts/services/core/supertokens/templates/serviceaccount.yaml
  k8s/charts/services/core/supertokens/values.yaml
  services/core/mcp/app/main.py
Due: run-postgres-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-data-postgres-orb-workflow, run-service-auth-orb-workflow

update core services...
  k8s/charts/services/core/mcp/charts/common-helpers-0.1.1.tgz
  k8s/charts/services/data/couchbase/charts/common-helpers-0.1.1.tgz
  k8s/charts/services/data/postgres/charts/common-helpers-0.1.1.tgz
  k8s/charts/services/data/qdrant/charts/common-helpers-0.1.1.tgz
  package.json
Due: none

update core services...
  services/core/auth/package.json
Due: none

update core services...
  .circleci/config.yml
  services/core/auth/package.json
  services/core/supertokens/package.json
Due: none

update deploy...
  k8s/charts/services/core/auth/Chart.lock
  k8s/charts/services/core/auth/Chart.yaml
  k8s/charts/services/core/auth/charts/common-helpers-0.1.1.tgz
  k8s/charts/services/core/supertokens/Chart.lock
  k8s/charts/services/core/supertokens/Chart.yaml
  k8s/charts/services/core/supertokens/charts/common-helpers-0.1.1.tgz
  services/core/auth/package.json
  services/core/supertokens/package.json
Due: none

update deploy...
  k8s/charts/services/core/auth/values.yaml
  k8s/charts/services/core/mcp/values.yaml
  k8s/charts/services/core/supertokens/values.yaml
Due: none

update deploy...
  services/core/supertokens/package.json
Due: none

update deploy...
  k8s/charts/services/core/mcp/values.yaml
  k8s/secrets/env/posey-prod-apps-www-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-core-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-data-env-vars-sealed.yaml
  services/core/mcp/package.json
Due: none

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/common-orb.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-common-change-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/common-orb.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  services/core/mcp/package.json
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-common-change-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  k8s/secrets/env/posey-prod-apps-www-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-core-env-vars-sealed.yaml
  k8s/secrets/env/posey-prod-data-env-vars-sealed.yaml
  services/core/mcp/package.json
  services/core/supertokens/package.json
Due: none

update deploy...
  services/core/auth/package.json
Due: none

update deploy...
  services/core/auth/Dockerfile
Due: none

update deploy...
  .circleci/orbs/service-auth-orb.yml
  services/core/auth/package.json
Due: run-service-auth-orb-workflow

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  services/core/auth/package.json
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  .circleci/orbs/service-auth-orb.yml
Due: run-service-auth-orb-workflow

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-qdrant-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-data-postgres-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  package.json
  services/core/auth/package.json
Due: none

update deploy...
  .pnp.cjs
  apps/inventory/package.json
  apps/www/package.json
  package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/telemetry/package.json
  packages/ts-config/package.json
  packages/ui/package.json
  services/core/agents/package.json
  services/core/auth/package.json
  services/core/cron/package.json
  services/core/mcp/package.json
  services/core/package.json
  services/core/supertokens/package.json
  services/core/voyager/package.json
  services/data/couchbase/package.json
  services/data/package.json
  services/data/postgres/package.json
  services/data/qdrant/package.json
  yarn.lock
Due: run-postgres-workflow, run-couchbase-workflow, run-qdrant-workflow

Path conditions:
  run-auth-workflow: (any of: services/auth/.*) or (any of: .circleci/service-auth-config.yml)
  run-cron-workflow: (any of: services/cron/.*) or (any of: .circleci/service-cron-config.yml)
  run-voyager-workflow: (any of: services/voyager/.*) or (any of: .circleci/service-voyager-config.yml)
  run-mcp-workflow: (any of: services/mcp/.*) or (any of: .circleci/service-mcp-config.yml)
  run-supertokens-workflow: (any of: services/supertokens/.*) or (any of: .circleci/service-supertokens-config.yml)
  run-agents-workflow: (any of: services/agents/.*) or (any of: .circleci/service-agents-config.yml)
  run-vector-db-workflow: (any of: data/vector.db/.*) or (any of: .circleci/data-vector-db-config.yml)
  run-postgres-workflow: ((any of: data/postgres/.*) or (any of: .circleci/data-postgres-config.yml)) or ((any of: services/data/postgres/.*) or (any of: .circleci/orbs/data-postgres-orb.yml))
  run-couchbase-workflow: ((any of: data/couchbase/.*) or (any of: .circleci/data-couchbase-config.yml)) or ((any of: services/data/couchbase/.*) or (any of: .circleci/orbs/data-couchbase-orb.yml))
  run-qdrant-workflow: (any of: services/data/qdrant/.*) or (any of: .circleci/orbs/data-qdrant-orb.yml)
  run-common-change-workflow: any of: .circleci/orbs/common-orb.yml
  run-service-supertokens-orb-workflow: any of: .circleci/orbs/service-supertokens-orb.yml
  run-service-mcp-orb-workflow: any of: .circleci/orbs/service-mcp-orb.yml
  run-service-agents-orb-workflow: any of: .circleci/orbs/service-agents-orb.yml
  run-service-cron-orb-workflow: any of: .circleci/orbs/service-cron-orb.yml
  run-common-orb-workflow: any of: .circleci/orbs/common-orb.yml
  run-data-postgres-orb-workflow: any of: .circleci/orbs/data-postgres-orb.yml
  run-service-voyager-orb-workflow: any of: .circleci/orbs/service-voyager-orb.yml
  run-data-vector-db-orb-workflow: any of: .circleci/orbs/data-vector-db-orb.yml
  run-data-couchbase-orb-workflow: any of: .circleci/orbs/data-couchbase-orb.yml
  run-service-auth-orb-workflow: any of: .circleci/orbs/service-auth-orb.yml
