Repository poseylabs/posey: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow, run-auth-service-workflow, run-cron-service-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-vector-db-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  .circleci/continue_config.yml
Due: none

update deploy...
  services/auth/package.json
Due: run-auth-workflow, run-auth-service-workflow

update deploy...
  services/auth/Dockerfile
Due: run-auth-workflow, run-auth-service-workflow

update deploy...
  data/postgres/package.json
Due: run-postgres-workflow

update deploy...
  .circleci/orbs/data-couchbase-orb.yml
  data/postgres/package.json
Due: run-postgres-workflow, run-couchbase-workflow, run-data-couchbase-orb-workflow

update deploy...
  .circleci/continue_config.yml
  data/postgres/package.json
Due: run-postgres-workflow

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
  data/postgres/package.json
Due: run-postgres-workflow

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  data/postgres/package.json
Due: run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow, run-auth-service-workflow, run-cron-service-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-vector-db-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  .circleci/orbs/data-postgres-orb.yml
  data/postgres/package.json
Due: run-postgres-workflow, run-data-postgres-orb-workflow

k8 setup
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  .circleci/scripts/trigger-argocd-sync.sh
  ingress-backup.yaml
  k8s/ingress/argocd-ingress.yaml
Due: run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow, run-auth-service-workflow, run-cron-service-workflow, run-service-supertokens-orb-workflow, run-service-mcp-orb-workflow, run-service-agents-orb-workflow, run-service-cron-orb-workflow, run-data-postgres-orb-workflow, run-service-voyager-orb-workflow, run-data-vector-db-orb-workflow, run-data-couchbase-orb-workflow, run-service-auth-orb-workflow

update deploy...
  .circleci/orbs/common-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  cicd/appsets/base/applicationset.yaml
  cicd/appsets/overlays/data/appset-patch.yaml
  k8s/charts/base-values.yaml
  k8s/charts/data/postgres/Chart.yaml
  k8s/charts/data/postgres/templates/_helpers.tpl
  k8s/charts/data/postgres/templates/configmap.yaml
  k8s/charts/data/postgres/templates/pvc.yaml
  k8s/charts/data/postgres/templates/service.yaml
  k8s/charts/data/postgres/templates/statefulset.yaml
  k8s/charts/data/postgres/values.yaml
  k8s/charts/library/common-helpers/Chart.yaml
  k8s/charts/library/common-helpers/templates/_helpers.tpl
  k8s/data/postgres/postgres-configmap.yaml
  k8s/data/postgres/postgres-pvc.yaml
  k8s/data/postgres/postgres-service.yaml
  k8s/data/postgres/postgres-statefulset.yaml
  k8s/secrets/postgres-secrets-sealed-secret.yaml
Due: run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow, run-auth-service-workflow, run-cron-service-workflow, run-common-orb-workflow, run-data-postgres-orb-workflow

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/scripts/publish-orbs-local.sh
  data/postgres/package.json
Due: run-postgres-workflow, run-data-postgres-orb-workflow

update deploy...
  .gitignore
Due: none

update deploy...
  data/postgres/package.json
  services/.env.example
  services/agents/app/config/settings.py
  services/agents/scripts/init-build-cache.sh
  services/agents/scripts/init-docker-cache.sh
  services/agents/scripts/test-with-cache.sh
  turbo.json
Due: run-agents-workflow, run-postgres-workflow

update deploy...
  .circleci/scripts/trigger-argocd-sync.sh
  data/postgres/package.json
Due: run-postgres-workflow

update deploy...
  k8s/bootstrap-argo-config-app.yaml
  k8s/posey-project.yaml
Due: none

update deploy...
  k8s/bootstrap-argo-config-app.yaml
Due: none

update deploy...
  k8s/argo/bootstrap-argo-config-app.yaml
  k8s/argo/posey-project.yaml
  k8s/argo/services/data/posey-postgres-application.yaml
Due: none

update deploy...
  .circleci/orbs/data-postgres-orb.yml
  k8s/argo/bootstrap-argo-config-app.yaml
Due: run-postgres-workflow, run-data-postgres-orb-workflow

Path conditions:
  run-auth-workflow: (any of: services/auth/.*) or (any of: .circleci/service-auth-config.yml)
  run-cron-workflow: (any of: services/cron/.*) or (any of: .circleci/service-cron-config.yml)
  run-voyager-workflow: ((any of: services/voyager/.*) or (any of: .circleci/service-voyager-config.yml)) or (((any of: services/voyager/.*) or (any of: .circleci/orbs/service-voyager-orb.yml)) or (any of: .circleci/orbs/common-orb.yml))
  run-mcp-workflow: ((any of: services/mcp/.*) or (any of: .circleci/service-mcp-config.yml)) or (((any of: services/mcp/.*) or (any of: .circleci/orbs/service-mcp-orb.yml)) or (any of: .circleci/orbs/common-orb.yml))
  run-supertokens-workflow: ((any of: services/supertokens/.*) or (any of: .circleci/service-supertokens-config.yml)) or (((any of: services/supertokens/.*) or (any of: .circleci/orbs/service-supertokens-orb.yml)) or (any of: .circleci/orbs/common-orb.yml))
  run-agents-workflow: ((any of: services/agents/.*) or (any of: .circleci/service-agents-config.yml)) or (((any of: services/agents/.*) or (any of: .circleci/orbs/service-agents-orb.yml)) or (any of: .circleci/orbs/common-orb.yml))
  run-vector-db-workflow: ((any of: data/vector.db/.*) or (any of: .circleci/data-vector-db-config.yml)) or (((any of: data/vector-db/.*) or (any of: .circleci/orbs/data-vector-db-orb.yml)) or (any of: .circleci/orbs/common-orb.yml))
  run-postgres-workflow: ((any of: data/postgres/.*) or (any of: .circleci/data-postgres-config.yml)) or (((any of: data/postgres/.*) or (any of: .circleci/orbs/data-postgres-orb.yml)) or (any of: .circleci/orbs/common-orb.yml))
  run-couchbase-workflow: ((any of: data/couchbase/.*) or (any of: .circleci/data-couchbase-config.yml)) or (((any of: data/couchbase/.*) or (any of: .circleci/orbs/data-couchbase-orb.yml)) or (any of: .circleci/orbs/common-orb.yml))
  run-auth-service-workflow: ((any of: services/auth/.*) or (any of: .circleci/orbs/service-auth-orb.yml)) or (any of: .circleci/orbs/common-orb.yml)
  run-cron-service-workflow: ((any of: apps/cron/.*) or (any of: .circleci/orbs/service-cron-orb.yml)) or (any of: .circleci/orbs/common-orb.yml)
  run-service-supertokens-orb-workflow: any of: .circleci/orbs/service-supertokens-orb.yml
  run-service-mcp-orb-workflow: any of: .circleci/orbs/service-mcp-orb.yml
  run-service-agents-orb-workflow: any of: .circleci/orbs/service-agents-orb.yml
  run-service-cron-orb-workflow: any of: .circleci/orbs/service-cron-orb.yml
  run-common-orb-workflow: any of: .circleci/orbs/common-orb.yml
  run-data-postgres-orb-workflow: any of: .circleci/orbs/data-postgres-orb.yml
  run-service-voyager-orb-workflow: any of: .circleci/orbs/service-voyager-orb.yml
  run-data-vector-db-orb-workflow: any of: .circleci/orbs/data-vector-db-orb.yml
  run-data-couchbase-orb-workflow: any of: .circleci/orbs/data-couchbase-orb.yml
  run-service-auth-orb-workflow: any of: .circleci/orbs/service-auth-orb.yml
