Repository poseylabs/posey: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow

update deploy...
  .circleci/data-couchbase-config.yml
  .circleci/data-postgres-config.yml
  .circleci/data-vector-db-config.yml
  .circleci/service-agents-config.yml
  .circleci/service-auth-config.yml
  .circleci/service-cron-config.yml
  .circleci/service-mcp-config.yml
  .circleci/service-supertokens-config.yml
  .circleci/service-voyager-config.yml
  package.json
  scripts/sync-circleci-env.sh
  turbo.json
Due: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow

update deploy...
  .gitignore
Due: none

update deploy...
  data/vector.db/package.json
  package.json
Due: run-vector-db-workflow

Create SECURITY.md
  SECURITY.md
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Update README.md
  README.md
Due: none

update cicd...
  .circleci/config.yml
Due: none

switch to alpha
  apps/www/package.json
  data/couchbase/package.json
  data/package.json
  data/postgres/package.json
  data/vector.db/package.json
  package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/telemetry/package.json
  packages/ts-config/package.json
  packages/ui/package.json
  services/agents/app/config/service.py
  services/agents/package.json
  services/agents/plugins/image_providers/manifest.json
  services/auth/package.json
  services/cron/package.json
  services/mcp/package.json
  services/package.json
  services/supertokens/package.json
  services/voyager/package.json
Due: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow

update cicd...
  .circleci/config-base.yml
Due: none

update deploy...
  apps/www/package.json
  data/couchbase/package.json
  data/package.json
  data/postgres/package.json
  data/vector.db/package.json
  package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/telemetry/package.json
  packages/ts-config/package.json
  packages/ui/package.json
  services/agents/app/config/service.py
  services/agents/package.json
  services/agents/plugins/image_providers/manifest.json
  services/auth/package.json
  services/cron/package.json
  services/mcp/package.json
  services/package.json
  services/supertokens/package.json
  services/voyager/package.json
Due: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow

update deploy...
  .circleci/config-base.yml
Due: none

update deploy...
  apps/inventory/package.json
  apps/www/package.json
Due: none

update deploy...
  .circleci/config-base.yml
  .circleci/config.yml
  .circleci/orbs/common-orb.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  .circleci/service-cron-config.yml
Due: run-cron-workflow

update deploy...
  .circleci/config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
Due: none

update deploy...
  apps/inventory/package.json
  apps/www/package.json
  data/couchbase/package.json
  data/package.json
  data/postgres/package.json
  data/vector.db/package.json
  package.json
  packages/core/package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/telemetry/package.json
  packages/ts-config/package.json
  packages/ui/package.json
  services/agents/app/config/service.py
  services/agents/app/routers/docs.py
  services/agents/package.json
  services/agents/plugins/image_providers/manifest.json
  services/auth/package.json
  services/cron/package.json
  services/mcp/package.json
  services/package.json
  services/supertokens/package.json
  services/voyager/package.json
Due: run-auth-workflow, run-cron-workflow, run-voyager-workflow, run-mcp-workflow, run-supertokens-workflow, run-agents-workflow, run-vector-db-workflow, run-postgres-workflow, run-couchbase-workflow

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
Due: none

update deploy...
  .circleci/continue_config.yml
Due: none

update deploy...
  .circleci/continue_config.yml
  data/postgres/package.json
Due: run-postgres-workflow

update deploy...
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
Due: none

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/hooks/pre-push
  .circleci/orbs/README.md
  .circleci/publish-orbs.yml
  .circleci/scripts/setup-hooks.sh
  .circleci/scripts/update-orb-config.sh
Due: none

update deploy...
  .circleci/hooks/pre-push
  .circleci/orbs/README.md
  .circleci/publish-orbs.yml
  .circleci/scripts/update-and-commit-orb-config.sh
  .circleci/scripts/update-orb-config.sh
Due: none

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/README.md
  .circleci/publish-orbs.yml
Due: none

update deploy...
  .circleci/continue_config.yml
  .circleci/orbs/README.md
  .circleci/publish-orbs.yml
Due: none

update deploy...
  .circleci/continue_config.published.yml
  .circleci/orbs/README.md
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  .circleci/scripts/publish-orbs-local.sh
  .circleci/scripts/switch-to-published-orbs.sh
Due: none

update deploy...
  .circleci/continue_config.inline.yml
  .circleci/scripts/switch-to-published-orbs.sh
Due: none

Update orbs to use cimg/base:current and dev:alpha3 version
  .circleci/continue_config.inline.yml
  .circleci/continue_config.published.yml
  .circleci/continue_config.yml
  .circleci/orbs/common-orb.yml
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
Due: none

update deploy...
  .circleci/continue_config.inline.yml
  .circleci/continue_config.published.yml
  .circleci/continue_config.yml
  .circleci/scripts/orb-versions.sh
  .circleci/scripts/publish-orbs-local.sh
  package.json
  scripts/orbs-cli.js
Due: none

update deploy...
  .circleci/continue_config.published.yml
  .circleci/continue_config.yml
  .circleci/orbs/README.md
  .circleci/orbs/data-couchbase-orb.yml
  .circleci/orbs/data-postgres-orb.yml
  .circleci/orbs/data-vector-db-orb.yml
  .circleci/orbs/service-agents-orb.yml
  .circleci/orbs/service-auth-orb.yml
  .circleci/orbs/service-cron-orb.yml
  .circleci/orbs/service-mcp-orb.yml
  .circleci/orbs/service-supertokens-orb.yml
  .circleci/orbs/service-voyager-orb.yml
  .circleci/scripts/orb-versions.sh
  .circleci/scripts/publish-orbs-local.sh
  .circleci/scripts/switch-to-published-orbs.sh
  scripts/orbs-cli.js
Due: none

update deploy...
  .circleci/config.yml
  .circleci/continue_config.yml
  .circleci/orbs/README.md
  .circleci/scripts/detect-version-bump.sh
  .circleci/scripts/publish-orbs-local.sh
Due: none

update deploy...
  .circleci/config.yml
Due: none

update deploy...
  data/postgres/package.json
Due: run-postgres-workflow

update deploy...
  .circleci/continue_config.yml
  .circleci/publish-orbs.yml
Due: none

Path conditions:
  run-auth-workflow: (any of: services/auth/.*) or (any of: .circleci/service-auth-config.yml)
  run-cron-workflow: (any of: services/cron/.*) or (any of: .circleci/service-cron-config.yml)
  run-voyager-workflow: (any of: services/voyager/.*) or (any of: .circleci/service-voyager-config.yml)
  run-mcp-workflow: (any of: services/mcp/.*) or (any of: .circleci/service-mcp-config.yml)
  run-supertokens-workflow: (any of: services/supertokens/.*) or (any of: .circleci/service-supertokens-config.yml)
  run-agents-workflow: (any of: services/agents/.*) or (any of: .circleci/service-agents-config.yml)
  run-vector-db-workflow: (any of: data/vector.db/.*) or (any of: .circleci/data-vector-db-config.yml)
  run-postgres-workflow: (any of: data/postgres/.*) or (any of: .circleci/data-postgres-config.yml)
  run-couchbase-workflow: (any of: data/couchbase/.*) or (any of: .circleci/data-couchbase-config.yml)
